{% extends "base/base.html" %}
{% load thumbnail %}
{% load static %}
{% block title %}
    Carrito de compra
{% endblock %}
{% block content %}
<div class="cart_section">
    <div class="container">
        <div class="row">
        <h1>Su carrito de compra</h1>
        <p class="text-right">
            <a href="{% url 'shop:lista_productos' %}" class="btn btn-primary">Continuar comprando</a>
            <a href="{% url 'orders:order_create' %}" class="btn btn-success">Finalizar compra</a>
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Remover</th>
                    <th>Unitario</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
            {% for item in cart %}
                {% with product=item.product %}
                    <tr>
                        <td><a href="{{ product.get_absolute_url }}">
                            {% if product.imagen %}
                                {% thumbnail product.imagen "50x50" as im%}
                                    <img class="img-thumbnail" src="{{im.url}}">
                                {% endthumbnail %}
                            {% else %}
                                <img class="img-thumbnail" src="http://placehold.it/50x50">
                            {% endif %}
                        </a>
                        </td>
                        <td>{{ product.nombre }}</td>
                        <td>
                            <form action="{% url 'cart:cart_add' product.id %}" method="post" class="form-inline">
                                {{ item.update_quantity_form.quantity }}
                                {{ item.update_quantity_form.update }}
                                <input class="btn btn-success" type="submit" value="Actualizar">
                                {% csrf_token %}
                            </form>
                        </td>
                        <td><a class="btn btn-danger" href="{% url 'cart:cart_remove' product.id%}">Quitar</a></td>
                        <td class="table-info">${{ item.price }}</td>
                        <td class="table-success">${{ item.total_price }}</td>
                    </tr>
                {% endwith %}
            {% endfor %}
            <tr class="total">
                <td>Total</td>
                <td colspan="4"></td>
                <td class="num">${{ cart.get_total_price }}</td>
            </tr>
            </tbody>
        </table>
        <div class="col-md-12">
            <div class="row">
                <h6>Quienes compraron tambien compraron:</h6>
                <!-- Productos recomendados -->
                {% for p in productos_recomendados%}
                <!-- product -->
                <div class="col-md-3 col-xs-6">
                    <div class="product">
                        <a href="{{p.get_absolute_url}}">
                            <div class="product-img">
                                {% if p.imagen %}
                                    <img src="{{p.imagen.url}}" alt="{{p.nombre}}">
                                {% else %}
                                    <img src="http://placehold.it/250x250" alt="{{p.nombre}}">
                                {% endif %}
                            </div>
                        </a>
                        <div class="product-body">
                            <p class="product-category"><a href="{{p.categoria.get_absolute_url}}">{{p.categoria.nombre}}</a></p>
                            <h3 class="product-name"><a href="#">{{p.nombre}}</a></h3>
                            <h4 class="product-price">${{p.preciopub}}</h4>
                        </div>
                        <div class="add-to-cart">
                            <a href="{{p.get_absolute_url}}" class="btn add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Detalle</a>
                        </div>
                    </div>
                </div>
                <!-- /product -->
                {%endfor%}
                <!-- Products tab & slick -->
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}