{% extends "base/base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        {%if profile.foto%}
                            <img src="{{profile.foto.url}}" alt="{{user.first_name}}" class="img-rounded img-responsive" />
                        {%else%}
                            <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
                        {%endif%}
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <h4>{{user.first_name}} {{user.last_name}}</h4>
                        <p>
                            <i class="fa fa-envelope-square"></i> {{user.email}}<br/>
                            {%if profile.nacimiento%}
                                <i class="fa fa-gift"></i> {{profile.nacimiento}}
                            {%endif%}
                        </p>
                        <!-- Split button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">Acciones</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span><span class="sr-only">Acciones</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{%url 'cuenta:editar'%}">Editar</a></li>
                                <li><a href="">Eliminar</a></li>
                                <li class="divider"></li>
                                <li><a href="{%url 'logout' %}">Cerrar Sesion</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="profile-usermenu">
                            <ul class="nav">
                                <li class="active">
                                    <a href=""><i class="fa fa-shopping-cart"></i> Mis Pedidos</a>
                                </li>
                                <li class="active">
                                    <a href=""><i class="fa fa-heart"></i> Mis Favoritos</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}